body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

header, main, footer {
    text-align: center;
    width: 80%; /* Adjust the width as needed */
    max-width: 600px; /* Adjust the maximum width as needed */
}

.video {
    width: 50%;
    height: auto;
    margin-bottom: 1rem;
}

.header {
    padding: 20px;
    text-align: center;
}

.header a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #007bff;
    transition: background-color 0.3s;
}

.header a:hover {
    background-color: #0056b3;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    grid-gap: 20px; /* Gap between grid items */
}

.contributor {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contributor h2 {
    margin-top: 0;
}

.contributor p {
    margin: 5px 0;
}